:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --main-color: #B4A77E;
}

html {
    --default-brown: #B4A77E;
    --default-main-body: #F0F0DA;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

nav:first-child {
    display: flex;
    justify-content: space-between;
    background-color: var(--default-brown);
    padding: 0 200px;
    align-items: center;
}

nav:first-child .logo {
    width: 80px;
    height: 80px;
}

nav:first-child .logo img {
    width: 80px;
    height: 80px;
}

.search-form {
    width: 700px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #fff;
    margin-left: 30px;
    margin-right: 30px;
}

.search-form input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    height: 100%;
}

.search-form label {
    text-wrap: nowrap;
}

.search-form button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-form button img {
    width: 20px;
    height: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons a {
    font-size: 24px;
    font-family: 600;
    text-decoration: none;
    color: black;
}

.icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

nav:last-child {
    background-color: blue;
}

nav:last-child ul {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    text-align: center;
    background-color: var(--default-brown);
}

nav:last-child ul li {
    padding: 10px 26px;
    cursor: pointer;
}

nav:last-child ul li:hover {
    text-decoration: dotted;
    border-bottom: 1px solid black;
}

nav:last-child ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    border: none;
    outline: none;
}

aside section {
    padding: 20px;
    border-bottom: 1px solid black;

}

aside section:last-child {
    border-bottom: none;
}

aside section ul {
    list-style: none;
}

aside section ul li {
    padding: 10px 20px;
}

aside .author-list ul li,
aside .price-list ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

aside section ul li:hover {
    background-color: #F0F0DA;
    border-radius: 8px;
}

aside section ul li a {
    text-wrap: nowrap;
}

aside section ul img {
    height: 20px;
    width: 20px;
}

.image {
    display: flex;
}

.image img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 20px;
}

.footer {
    background-color: #B4A77E;
  }
  
  
  
.footer .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      gap: 1.5rem;
  }
  
  .footer .box-container .box h3{
      font-size: 2rem;
      color: black;
      padding: 5px 1rem;
      margin: 0.5rem;
  }
  
  .footer .box-container .box a{
      display: block;
      font-size: 1.4rem;
      color: var(--light-color);
      padding: 0.3rem 0;
      margin-left: 1.5rem;
  }
  .box-text{
    margin: 0;
  }
  
  .footer .box-container .box a i{
      color: var(--green);
      padding-right: .5rem;
  }
  
  .footer .share{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding:1 0rem;
    text-align: center;
    justify-content: flex-start;
  }
  
  .footer .box-container .box .share a{
      height: 3rem;
      width: 3rem;
      margin-right: 1.2rem;
      font-size: 2rem;
      color: #000000;
     
  }
  
  .footer .credit{
    
      height: max-content;
      font-size: 1.2rem;
      color: white;
     
      align-items: center;
     
      background-color: #C5B78D;
  }
  
  .footer .credit span{
    font-size: 1.7rem;
    margin-right: 2.5rem;
    margin-left: 1.5rem;
  }