<article class="product-card">
    <div class="product-image">
        <span class="discount-tag">50%</span>
        <div class="i-tag">
            <span class="weight-tag"><i class="fas fa-feather"></i></span>
            <span class="page-count"><i>451</i></span>
        </div>
        <a href="#">
            <img src="../Wireframe/bestseller_books/2.webp" class="product-thumb" alt="">
        </a>
    </div>
    <div class="product-info">
        <div class="auth-ttl">
            <div  class="author-img">
                <img src="../Wireframe/authors/haruki_murakami.jpg" alt="">
            </div>
            <div class="title">
                <a href="#">
                    <h2 class="book-ttl">book title</h2>
                </a>
                <a href="#" class="author-ttl">an author title</a>
            </div>
        </div>
        <div class="price">
            <span class="sale-price">20$</span> <span class="actual-price">40$</span>
        </div>
    </div>
    <div class="product-btn">
        <button class="cart">сагслах<i class="fas fa-cart-shopping"></i></button>
        <button class="about">дэлгэрэнгүй<i class="fa-solid fa-arrow-right"></i></button>
    </div>
</article>
